.error {
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  position: relative;
}

.popup {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  
  padding: 10px;
  z-index: 1;
  display: none;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.popup-content {
  min-width: 230px;
}
.popup-control{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.close-btn {
  cursor: pointer;
  float: right;
}

.navigation {
  cursor: pointer;
  color: #1749AD;
  
  
}
.suggested-words {
  font-size: 16px;
  /* font-weight: bold; */
  margin: 10px 0;
}
.ignoreBtn {
  border: 1px solid #D0D5DD ;
  /* margin-left: 10px ; */
  
}
.confirmBtn {
    background-color: #1749AD;
    color: #fff;
}
.currentIndex{
  margin-right: 10px ;
 
}
ul,
li,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px ;
  outline: none;
  
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 14px;
  text-align: inherit;
}
